//arponpurkayastha.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.90edcdea-93b7-4a39-a8a6-d7bd784e33f5/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@aip-market-insights:registry=https://arponpurkayastha.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.90edcdea-93b7-4a39-a8a6-d7bd784e33f5/contents/release/npm/
